@import url(https://krishnasai369.github.io/themes/portainer-base.css);
:root {
  --main-bg-color:  radial-gradient( ellipse at center,  rgba(102, 102, 102,1) 0%, rgba(38, 38, 38,1) 200% ) center center/cover no-repeat fixed;
  --modal-bg-color: radial-gradient( ellipse at top,  rgba(102, 102, 102,1) 0%, rgba(38, 38, 38,1) 200% ) center center/cover no-repeat fixed;

  --button-color: #607D8B;
  --button-color-hover: #81a6b7;
  --accent-color: #607D8B;
  --accent-color-hover: #81a6b7;
}
